<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>User Registration</title>
</head>
<body>
<h1>User Registration</h1>
<form action="Register" method="post">
    <label>User Name:</label>
    <input type="text" name="username" required><br>
    <label>Email:</label>
    <input type="email" name="email" required><br>
    <label>Password:</label>
    <input type="password" name="password" required><br>
    <label>Gender:</label>
    <input type="radio" name="gender" value="male"> Male
    <input type="radio" name="gender" value="female"> Female
    <input type="radio" name="gender" value="others"> Other<br>
    <label>Role:</label>
    <input type="radio" name="role" value="admin"> Admin
    <input type="radio" name="role" value="customer"> Customer<br>
    <label>Address:</label>
    <textarea name="address"></textarea><br>
    <input type="submit" value="Register">
</form>
</body>
</html>
